.product-beautifier {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 7px 67px 0px 83px;
  border-top: 0.5px solid gray;
  /* box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, 0.2); */
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.modal {
  width: 100%;
  top: 0%;
  left: 0%;
  position: fixed;
}
.modal .ant-modal-content {
  position: fixed;
  width: 100vw;
  border-radius: none;
}
