.Carosel-sub {
  width: 100%;
}
.Carosel-image {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.Carosel-main {
  border-bottom: 0.1px solid black;
  /* background-color: rgb(133, 133, 130); */
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
