.Cart-card {
  display: flex;
  height: max-content;
  width: 62%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  border: 1px solid black;
}
.product-unique {
  height: 200px;
  display: flex;
  padding: 7px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px 68px;
  width: 193px;
}
.image-container img {
  height: 100%;
}
.order-detail {
  display: flex;
  align-items: center;
}
.cart-button {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 0px 30px;
}
.btn-minus button {
  color: white;
  background-color: green;
  border-radius: 50%;
  width: 20px;
  border: white;
}
.btn-plus button {
  color: white;
  background-color: green;
  border-radius: 50%;
  width: 20px;
  border: white;
}
.btn-remove button {
  color: white;
  background-color: red;
  border: white;
  padding: 5px;
  border-radius: 5px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cartimg {
  height: 500px;
  width: 500px;
}
.empty-cartimg img {
  height: inherit;
}
